.header-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #CE0202;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
.menu {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.center-side {
    display: none;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
}

@media (min-width: 700px) {
    .right-side {
        display: none;
    }

    .left-side {
        width: 30%;
        justify-content: flex-start;
    }

    .menu {
        display: none;
    }

    .center-side {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        padding: 14px;
    }

    .center-side input[type="text"] {
        border-radius: 10px 0px 0px 10px;
        border: none;
        width: 54%;
        display: flex;
        padding: 6px;
        font-size: 13px;
        height: 20px;
    }

    .center-side input[type="text"]:focus {
        outline: none;
    }

    .center-side img {
        background-color: #fff;
        border-radius: 0px 10px 10px 0px;
        border-left: 1px solid grey;
        width: 30px;
        height: 32px;
    }
}